<div class="navbar navbar-expand-sm navbar-light navbar-lewagon w3-top">
  <div class="navbar-brand-name">
    Mat<strong>3R</strong>ial
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to '/' do %>
         Log in
        <% end %>
      </li>
      <li class="nav-item active">
        <%= link_to '/' do %>
         Sign in
        <% end %>
      </li>
    </ul>
  </div>
</div>
