.card {
  margin: 15px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.card:hover {
  margin: 15px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.card-info{
  margin: 15px;
  width: 300px;
  box-shadow: none;
}

.card-info:hover{
  margin: 15px;
  box-shadow: none
}

