.card {
  margin: 15px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.card:hover {
  margin: 15px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.card-info{
  margin: 15px;
  width: 300px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.card-info:hover{
  margin: 15px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px;
}

.card-img-top {
  object-fit: cover;
  height: 400px;
}

.image-card{
  // object-fit: fill;
}

.card-top{
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
